[submodule "1023/lib/forge-std"]
	path = 1023/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "1028/lib/forge-std"]
	path = 1028/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "1028/lib/openzeppelin-contracts"]
	path = 1028/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
